.hoverproduct-wrap {
    width: 600px;
    margin: 0 auto;
}
.hoverproduct-wrap .gallery-box {
	width: 800px;
	height: 1000px;
	overflow: hidden;
    img {
        width: 100%;
    }
}

#colorway {
    margin-top: 2rem;
	display: flex;
    .color-box {
        display: inline;
        cursor: pointer;
        margin: 5px;
        img {
            min-width: 40px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #c7c7c7;
            padding: 3px;
        }
    }
}
