@charset "utf-8";

/* --------------------------------
Footer
-------------------------------- */
.sunflower {
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-top: 20vh;
    margin-bottom: 2rem;
    img {
        margin-bottom: 2rem;
        max-width: 100px;
        @include media-breakpoint-down(sm) {
        }
    }
}
footer {
    background: linear-gradient(0deg, #FF5722 0%, #FF5722 60%, rgb(252, 240, 236) 100%);
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 80%;
    max-width: 1600px;
    font-size: 3vw;
    line-height: .3;
    display: flex;        
    font-family: 'BeatriceDisplay-LightIt';
    .footer-icon {
        text-align: right;
        margin-right: 40px;
        img {
            width: 100%;
            max-width: 180px;
        }
    }
    .title {
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }
    a.email {
        color: #fff;
        font-size: 2rem;
    }
    @include media-breakpoint-down(md) {
        margin: 10vh 0;
        width: 100%;
        .footer-icon {
            text-align: center;
        }
        .title {
            font-size: 1.4rem;
        }
        a.email {
            font-size: 1.4rem;
        }
    }
}