<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block title %}Fangke Hsieh 謝芳格 {% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="keywords" content="{% block keywords %}{% endblock %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="favicon/favicon.ico" />

	<!-- Optmization  -->
	<!-- Plugins  -->
	<!-- Form -->
	<!-- Core -->
	<link rel="stylesheet" href="static/svg/icomoon/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="static/css/style.css">
	
	<!-- Core -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="static/js/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/103/three.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/zingtouch/1.0.6/zingtouch.min.js"></script>
	<script src="http://afarkas.github.io/lazysizes/lazysizes.min.js"></script>
	
</head>

<body>
	{% include 'static/svg/icomoon/symbol-defs.svg' %}
	
	<div class="loader" ></div>
	<div class="site-cavas scroll-container">
		{% include '_header.html' %}

		<main>
			{% block body %} {% endblock %}
		</main>	 
		{% include '_footer.html' %}

		{% include '_mobile_menu.html' %}
	</div>
	    
	<!-- Jquery Plugins  -->

	<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
	<script src="static/js/vendor.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.0/dist/lazyload.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.0.3/tilt.jquery.min.js"></script>
	<script src="https://www.cssscript.com/demo/add-instagram-photos-to-your-website-using-instafeed-js/src/instafeed.js"></script>
	<!-- Customized Script -->
	<script src="static/js/main.js"></script>

	
		{% block pageScript %}


	
		{% endblock %}
		<script>
			var lazyLoadInstance = new LazyLoad({
			// Your custom settings go here
			});

		$('.tilt').tilt();
		</script>
</body>

</html>
