{% extends "_base.html" %} {% block body %}


<!-- cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>
<div class="main-title">
	<a href="index.html"><img src="static/images/logo.svg" alt=""></a>
</div>

<!-- <div class="fangke-cht-text">
	芳<br>格
</div> -->
<div class="marquee">
	<p class="one"> </p>
</div>
<div class="index-visual">
	<div class="intro-text">
		<p>
			I'm a UI web designer who has  <span>strongfrontend knowledge</span>
 			and combines a <span>logical thinking</span> approach with a <span>detailed aesthetic.</span>

		</p>
	</div>
</div>



<div class="seleted-works js_fade-in">
	<ul class="seleted-works-list">
		<li class="case-title">
			<div class="work-thumb">

				<img  class="lazy"   data-src="static/images/seleted_works/nagata.jpg" alt="">
			</div>
			Nagata Lab
			<span class="year">2021</span>
			<div class="doodle" style="bottom: 20%;right: -40%;" >
				<img  src="static/images/doddle_01.svg" alt="">
			</div>
		</li>
		<li class="line-deco"></li>
		<li class="case-title">
			<div class="work-thumb">
				<img  class="lazy"   data-src="static/images/seleted_works/flowapartment.jpg" alt="">
			</div>
			Flow Apartment
			<span class="year">2018</span>
		</li>
		<li class="case-title">
			<div class="work-thumb">
				<video class="lazy" id="promoVideo" autoplay loop muted playsinline onclick="pauseVid()">
					<!-- <source src="video.webm" type="video/webm"> -->
					<source data-src="static/images/seleted_works/mongo.mp4" type="video/mp4">
					<!-- <img src="animated.gif"> -->
				</video>

			</div>
			Mongo
			<span class="year">2018</span>
		</li>
		<li class="line-deco"></li>
		<li class="case-title">
			<div class="work-thumb">
				<img class="lazy"   src="https://cdn.dribbble.com/users/1015720/screenshots/5542890/media/444239d6acfda5553c9476a1ba1d256b.gif" alt="">
			</div>
			Osparks
			<span class="year">2017-2018</span>
		</li>
		<li class="line-deco"></li>
		<li class="case-title">
			<div class="work-thumb">
				<img  class="lazy"   data-src="static/images/seleted_works/garytu.jpg"
					alt="">
			</div>
			GaryTu
			<span class="year">2018</span>
			<div class="doodle" style="bottom: 25%;right: -36%;" >
				<img  class="lazy"   data-src="static/images/doddle_02.svg" alt="">
			</div>
		</li>
		<li class="case-title">
			<div class="work-thumb">
				<img  class="lazy"   data-src="static/images/seleted_works/hannahjewelry.jpg" alt="">
			</div>
			Hannah Jewelry
			<span class="year">2018</span>
		</li>
		<li class="line-deco"></li>
		<li class="case-title">
			<div class="work-thumb">
				<img class="lazy"   src="https://cdn.dribbble.com/users/1015720/screenshots/14132485/media/13206ab8332d3e02d7af9a4e581ad005.jpg?compress=1&resize=1600x1200" alt="">
			</div>
			City Smart UI
			<span class="year">2018</span>
			<div class="doodle" style="bottom: -16%;right: 28%;" >
				<img  class="lazy"   data-src="static/images/doddle_03.svg" alt="">
			</div>
		</li>

		<div class="btn-view-more d-flex justify-content-center w-100"><a href="portfolio_list.html">View More</a></div>
	</ul>

</div>
<div class="swirl">

</div>
<div class="curve">

</div>
<div class="ellipse-float">

</div>
<!-- <div class="ellipse in-view" data-background="#fcf0ed">

</div> -->
<div class="left-box">

</div>




<script>

</script>
{% endblock %}