{% extends "_base.html" %} {% block body %}
<div class="main-title">
	<a href="index.html"><img src="static/images/logo.svg" alt=""></a>
</div>

<!-- <div class="fangke-cht-text">
	芳<br>格
</div> -->
<div class="info-wrap  js_fade-in">
	<div class="row">
		<div class="info-image col-md-6 col-12">
			<img src="static/images/info/portrait.png" alt="">

		</div>
		<div class="info-text col-md-6 col-12">
			<h2>
				<br><br>
				I’m a designer with a background in <span>Communication Arts</span>. My experience worked across <span>website and app UI</span>, finding creative solutions for user interfaces and experiences. 

			<img class="white-oval" src="static/images/info/oval.svg" alt="">
		</div>
	</div>
	<div class="row info-trivia js_fade-in ">
		<p>I’m a designer with a background in Communication Arts. My experience worked across website and app UI, finding creative solutions for user interfaces and experiences. </p>

			<p>Equipped with a diverse skill-set, my expertise is in designing, conceptualizing and building engaging user experiences with functional and aesthetic-pleasing interfaces. </p>
			
		<p>I come up with ideas that resonate with your brand and its voice. look for fresh ideas that would add value to your website and your brand while keeping up-to-date with market trends.</p>
			
		<p>In the last few years, i’ve collaborated with clients from startups to enterprise-level companies to build customized user interfaces with innovative solution.
			I want to bring my experience in web development and my passion for finding creative solutions to help businesses excel and eventually assists in those businesses improving the quality of life and society.
		</p>
		<p>
            Outside of my work, I like walking around new places taking film photos. Drawing and going to parks with my dear cat.🐱		<br>
			<br>
			<br>
		</p>


		<h3 class="js_fade-in ">
			Freelancer <span>Dec 2018 - Present</span>
		</h3>
		<p class="js_fade-in ">・Collaborated with oversea product manager and developer to build custom app and website.<br>
            ・Take part in multiple web UI design for local brand e-commerce.<br>
			・Lead frontend e-commerce online designer at MUJI Taiwan branch.</p>
		<br><br>

	</div>
</div>

<div id="instafeed"></div>




<script>

</script>
{% endblock %}