{% extends "_base.html" %} {% block body %}
<div class="main-title">
	<a href="index.html"><img src="static/images/logo.svg" alt=""></a>
</div>

<!-- <div class="fangke-cht-text">
	芳<br>格
</div> -->
<div class="about-text">
<p>	我是芳格Kate，在台北地區專職專職網頁/UI設計、網頁前端切版的撰寫，過去四年職位為前端設計師。
</p>
<p></p>
<p>喜歡新穎創新的風格，目前提供以下服務：(⁎⁍̴̛ᴗ⁍̴̛⁎)<br>
    /// 網頁設計<br>
    /// App UI設計<br>
    /// Shopline電商改造設計<br>
</p>
</div>



<!-- cursor -->
<!-- <div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div> -->

<script>

</script>
{% endblock %}