{% extends "_base.html" %} {% block body %}


<div class="main-content-wrap">
	<div class="js_fade-in  portfolio-main-header ml-sm-2">

		<div class="back-to-home">
			<a href="portfolio_list.html">Back <img class="arrow-back" src="static/images/svg/btn-arrow-left.svg" alt=""> </a>
		</div>
		<h1 class="title">Nagata Lab</h1>
	</div>
	<div class="js_fade-in  portfolio-main-img" style="background-image: url('static/images/works/nagata_main.jpg');">
	</div>


	<!-- brief start -->
	<div class="portfolio-main-brief">
		<div class="container">

			<div class="js_fade-in  row justify-content-md-center">

				<div class="col-12 col-md-4 mb-4">
					<div class="d-flex mb-2">
						<div class="col col-3">
							My Role
						</div>
						<div class="col ml-3">
							Website Design
						</div>
					</div>
					<div class="d-flex ">
						<div class="col col-3">
							Tools
						</div>
						<div class="col ml-3">
							Photoshop, Sketch, Illustrator
						</div>
					</div>
				</div>
				<div class="col-12  col-md-5">
					<p>
						NagataLab is a website for showcasing the professor’s research results on sustainable education and climate change education. This is a client project I collaborated with a company based in Japan during the pandemic. My role in this project is to redesign the website.
					</p>
					<p>
						Target users are Including elementary, middle, and high school students, university students, language teachers, private sector stakeholders, ministry of the Environment office staff, and people interested in climate change.
					</p>
					<a class="btn-lunch" href="https://nagatalab.jp/en/" target="_blank">Lunch Website</a>
				</div>
			</div>
		</div>
	</div>



	<!-- sticky Content start -->
	<div class="sticky-wrap row justify-content-end">
		<section class="sticky-title portfolio-header col-12 col-md-5">
			<div class="portfolio-header-content row justify-content-end">
				<div class="js_fade-in  col-12 col-md-6 p-4">
					<h4>Challenges</h4>
					<p class="">
						Professor had an old website built years ago with an out-of-date programming language and poor user experience. The purpose of the project was to create a more modern, vibrant look and feel that better showcases the breadth of his research. 
					</p><p class="">
						The main idea is to convey the ambiguous concept of “education” visually, bringing the message in visual with “human, warm, accepting, diverse, Harmony between humankind and the environment”. 

					</p>
				</div>
			</div>

		</section>
		<div class="portfolio-images col-12 col-md-6">
			<img class="img-fluid lazy" src="static/images/works/nagata_01.jpg" alt="">

		</div>
	</div>
	<!-- sticky Content end -->

	<!-- sticky Content start -->
	<div class="sticky-wrap row justify-content-end">
		<section class="sticky-title portfolio-header col-12 col-md-5">
			<div class="portfolio-header-content row justify-content-end">
				<div class="js_fade-in  col-12 col-md-6 p-4">
					<h4>Process and Solutions</h4>
					<p class="">We Integrate mathematical concepts that the professor likes such as sacred geometry, Fibonacci series geometry, and fractals. Applying into the illustration. Touching up with using an orange gradient and a noise texture touch to bring out the warmth and humanity of education. 
					</p>
					<p class="">A new typeface combination includes a confident, wide format, headline typeface and a modernized, easy-to-read, body copy typeface – and a more vibrant and sophisticated color palette that reflects the depth of the professor’s publishing. </p>
					<p class="">User experience had great improvement with more readability and a better information section structure design.
					</p>

				</div>
			</div>

		</section>
		<div class="js_fade-in  portfolio-images col-12 col-md-6">
			<img class="img-fluid lazy" src="static/images/works/nagata_02.jpg" alt="">

		</div>
	</div>
	<!-- sticky Content end -->


	<div class="portfolio-full-block container-fluid">
		<div class="container">
			<div class="row justify-content-center">
				<div class="js_fade-in  col-12 col-md-5 mb-5">
					<p class="text-center">
						Mobile UI

					</p>
				</div>
			</div>
			<div class="js_fade-in  row">
				<div class="col-4 col-md-4">
					<img class="img-fluid lazy" src="static/images/works/nagata_03.jpg" alt="">
				</div>
				<div class="col-4 col-md-4">
					<img class="img-fluid lazy" src="static/images/works/nagata_04.jpg" alt="">
				</div>
				<div class="col-4 col-md-4">
					<img class="img-fluid lazy" src="static/images/works/nagata_05.jpg" alt="">
				</div>
			</div>
		</div>

	</div>

</div>


<!-- more project section  -->
<section class="js_fade-in  more-project">
	<div class="container">
		<div class="row">
			<div class="col-6">

			</div>
			<div class="col-6 text-right">
				<h5>
					< Next Project>
				</h5>

				<h4>
					<a href="portfolio_detail_mongo.html">Mongo</a>
				</h4>
			</div>
		</div>
	</div>
</section>


<script>

</script>
{% endblock %}