{% extends "_base.html" %} {% block body %}

<div class="main-title">
	<a href="index.html"><img src="static/images/logo.svg" alt=""></a>
</div>


<div class="portfolio-list">

	<!-- golddigger -->
	<div class="sticky-wrap portfolio-block" >
		<section class="sticky-title portfolio-header" >
				<h1 class="center">GOLDDIGGER</h1>
				<div class="tag">
					<ul class="portfolio-tag-list">
						<li>ecommerce</li>
						<li>Website UI</li>
						<li>Shopline</li>
					</ul>
				</div>
		</section>
		<div class="portfolio-images" >
			<img src="static/images/seleted_works/golddiggers/01.jpg" alt="">
			<img src="static/images/seleted_works/golddiggers/02.jpg" alt="">
		</div>
	</div>

	<!-- Flowapartment -->
	<div class="sticky-wrap portfolio-block" >
		<div class="portfolio-images" >
			<img src="static/images/seleted_works/work_flow.jpg" alt="">
		</div>
		<section class="sticky-title portfolio-header" >
				<h1 class="center">Flowapartment</h1>
				<div class="tag">
					<ul class="portfolio-tag-list">
						<li>ecommerce</li>
						<li>Website UI</li>
						<li>Shopline</li>
					</ul>
				</div>
		</section>
	</div>
</div>



<!-- cursor -->
<!-- <div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div> -->

<!-- <ul class="seleted-works-list">
	<li>
		<img src="static/images/works/mongo.png" alt="">
		<div class="works-des">
			<span>Mongo</span>
			<p class="des">
				Pet’s cleaning supplies ecommerce site, the goal in this project was to elevate the brand visual and
				comp up with a
				easy naviate shopping interface. My role was visual design and front end development.
			</p>
		</div>
	</li>
	<li>
		<img src="static/images/works/mongo.png" alt="">
		<div class="works-des">
			<span>Hannah Jewelry</span>
			<p class="des">
				Designer’s jewelry collectoin ecommerce shop, the goal is to intergate client’s product store with her
				fashion
				blog, my role is deliver a visual match with branding and front-end develping.
			</p>
		</div>
	</li>
</ul> -->

<!-- <div class="more-works-container">
	<h1 class="title">More Works</h1>
	<ul class="more-works-list">
		<li class="project-item">
			<span class="text-wrap"> <span class="project-name">2young Clinic</span>
				Cosmetic Sugery Clinic</span>
			<div class="hover-image">
				<img src="static/images/works/project_cover_xinan.png" alt="">
			</div>

		</li>
		<li class="project-item"><span class="text-wrap">
				<span class="project-name">HandyAge</span>
				Coporate Catalogue sites</span>
			<div class="hover-image">
				<img src="static/images/works/project_cover_handyage.png" alt="">
			</div>
		</li>
		<li class="project-item"><span class="text-wrap">
				<span class="project-name">Dresscode</span>
				Clothing brand online ecommerce</span>
			<div class="hover-image">
				<img src="static/images/works/project_cover_drsscode.png" alt="">
			</div>
		</li>
		<li class="project-item"><span class="text-wrap">
				<span class="project-name">TeamLuck</span>
				VR Company Coporate site</span>
			<div class="hover-image">
				<img src="static/images/works/project_cover_teamluck.jpg" alt="">
			</div>
		</li>
		<li class="project-item"><span class="text-wrap">
				<span class="project-name">Osparks</span>
				digital platform startup interface collebrate</span>
			<div class="hover-image">
				<img src="static/images/works/project_cover_osparks.jpg" alt="">
			</div>
		</li>
	</ul>
</div> -->

<script>

</script>
{% endblock %}