{% extends "_base.html" %} {% block body %}


<div class="main-content-wrap">
	<div class="portfolio-main-header ml-sm-2">

		<div class="back-to-home">
			<a href="portfolio_list.html">Back <img class="arrow-back" src="static/images/svg/btn-arrow-left.svg" alt=""> </a>
		</div>
		<h1 class="title">Nagata Lab</h1>
	</div>
	<div class="portfolio-main-img" style="background-image: url('static/images/works/nagata_main.jpg');">
	</div>


	<!-- brief start -->
	<div class="portfolio-main-brief">
		<div class="container">

			<div class="row justify-content-md-center">

				<div class="col-12 col-md-4 mb-4">
					<div class="d-flex mb-2">
						<div class="col col-3">
							My Role
						</div>
						<div class="col ml-3">
							Website Design
						</div>
					</div>
					<div class="d-flex ">
						<div class="col col-3">
							Tools
						</div>
						<div class="col ml-3">
							Photoshop, Sketch, Illustrator
						</div>
					</div>
				</div>
				<div class="col-12  col-md-5">
					<p>
						NagataLab is a website for showcasing the professor’s research results on sustainable education and climate change education. This is a client project I collaborated with a company based in Japan during the pandemic. My role in this project is to redesign the website.
					</p>
					<p>
						Target users are Including elementary, middle, and high school students, university students, language teachers, private sector stakeholders, ministry of the Environment office staff, and people interested in climate change.
					</p>
					<a class="btn-lunch" href="https://nagatalab.jp/en/" target="_blank">Lunch Website</a>
				</div>
			</div>
		</div>
	</div>



	<!-- sticky Content start -->
	<div class="sticky-wrap row justify-content-end">
		<section class="sticky-title portfolio-header col-12 col-md-5">
			<div class="portfolio-header-content row justify-content-end">
				<div class="col-12 col-md-6 p-4">
					<h4>Challenges</h4>
					<p class="">
						・How to convey the ambiguous concept of “education” visually.・ Convey the message in visual“human, warm, accepting, diverse, Harmony between humankind and the environment” <br>
						・ Intergrate images that the professor likes such as sacred geometry, fibonacci series geometry, fractals. <br>
						・Present the original content more readability with a better information section design. <br>
					</p>
				</div>
			</div>

		</section>
		<div class="portfolio-images col-12 col-md-6">
			<img class="img-fluid" src="static/images/works/nagata_01.jpg" alt="">

		</div>
	</div>
	<!-- sticky Content end -->

	<!-- sticky Content start -->
	<div class="sticky-wrap row justify-content-end">
		<section class="sticky-title portfolio-header col-12 col-md-5">
			<div class="portfolio-header-content row justify-content-end">
				<div class="col-12 col-md-6 p-4">
					<h4>Process and Solutions</h4>
					<p class="">I proposed several different brand visuals and made colors variation for comparison. </p>
					<p class="">Due to this app are for Japanese users. Japanese web font options aren’t many there as English. Japanese font usually has a large file size because it contains Chinese characters. It is important not to apply too many custom fonts for optimization and better rendering speed. I did my research on the Japanese system web fonts and adobe fonts for this design. </p>
					<p class="">As a result, I applied two fonts only to have the best rendering performance. One for heading and one for body text.</p>

				</div>
			</div>

		</section>
		<div class="portfolio-images col-12 col-md-6">
			<img class="img-fluid" src="static/images/works/nagata_02.jpg" alt="">

		</div>
	</div>
	<!-- sticky Content end -->


	<div class="portfolio-full-block container-fluid">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-5 mb-5">
					<p class="text-center">
						Individual sections are visually separated by the use of different ui components, which form a uniform look because each component follows shared global rules.

					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-4 col-md-4">
					<img class="img-fluid" src="static/images/works/nagata_03.jpg" alt="">
				</div>
				<div class="col-4 col-md-4">
					<img class="img-fluid" src="static/images/works/nagata_04.jpg" alt="">
				</div>
				<div class="col-4 col-md-4">
					<img class="img-fluid" src="static/images/works/nagata_05.jpg" alt="">
				</div>
			</div>
		</div>

	</div>

</div>


<!-- more project section  -->
<section class="more-project">
	<div class="container">
		<div class="row">
			<div class="col-6">

			</div>
			<div class="col-6 text-right">
				<h5>
					< Next Project>
				</h5>

				<h4>
					<a href="portfolio_detail_mongo.html">Mongo</a>
				</h4>
			</div>
		</div>
	</div>
</section>


<script>

</script>
{% endblock %}