{% extends "_base.html" %} {% block body %}


<div class="main-content-wrap">

	<div class="js_fade-in  portfolio-main-header ml-sm-2">

		<div class="back-to-home">
			<a href="portfolio_list.html">Back <img class="arrow-back" src="static/images/svg/btn-arrow-left.svg" alt=""> </a>
		</div>
		<h1 class="title">Mongo</h1>
	</div>

	<div class="js_fade-in  portfolio-main-img lazy" style="background-image: url('static/images/works/mongo_main.jpg');">
	</div>


	<!-- brief start -->
	<div class="portfolio-main-brief">
		<div class="container">

			<div class="js_fade-in row justify-content-md-center">

				<div class="col-12 col-md-4 mb-4">
					<div class="d-flex mb-2">
						<div class="col col-3">
							My Role
						</div>
						<div class="col ml-3">
							Illustration, Web Visual Design,  Website Front-end Design,
	
						</div>
					</div>
					<div class="d-flex ">
						<div class="col col-3">
							Tools
						</div>
						<div class="col ml-3">
							Photoshop, Sketch, Html,   SCSS, Gulp, jQuery
	
						</div>
					</div>
				</div>
				<div class="col-12  col-md-5">
					This is a client project I worked on. Mongo’s cleaning products are for pets.  The website is not only an e-commerce platform but also a place to promote the concept of pet health management. 
				</div>
			</div>
		</div>
	</div>

	<!-- sticky Content start -->
	<div class="sticky-wrap row justify-content-end" >
		<section class="sticky-title portfolio-header col-12 col-md-5" >
			<div class="portfolio-header-content row justify-content-end">
				<div class="js_fade-in  col-12 col-md-6 p-4">
					<h4>Challenges</h4>
					<p class="">Mongo needed to built a website that resonate with its clean and minimal packaging and its voice.
					</p>
					<p class="">
						Optimizing the shopping cart process will be the first center for UX design, focusing on effectively gudiding users to understand mongo’s product categories.
					</p>
				</div>
			</div>

		</section>
		<div class="js_fade-in  portfolio-images col-12 col-md-6" >		
			<img class="img-fluid lazy" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/e4182c71529705.5bc854be766f7.jpg" alt="">
			<img class="img-fluid lazy" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/5b6f8871529705.5bc854be77815.jpg" alt="">
			<img class="img-fluid lazy" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/1bd94871529705.5bc854be75c8b.jpg" alt="">		

		</div>
	</div>
	<!-- sticky Content end -->

	<!-- sticky Content start -->
	<div class="sticky-wrap row justify-content-end" >
		<section class="sticky-title portfolio-header col-12 col-md-5" >
			<div class="portfolio-header-content row justify-content-end">
				<div class="js_fade-in  col-12 col-md-6 p-4">
					<h4>Process and Solutions</h4>
					<p class="">
						We executed the idea with a clean visual and user-focused checkout process layout. Category blocks on the home page guiding users to their main three product categories.
					</p>

					<p class="">
						In Mandarin, mongo means "cute dog". I create this lovely black dog illustration for the product categories.  Also for the front-end development, adding a morph blob SVG animation the the background making this minimal website more vibrant.
					</p>
				</div>
			</div>

		</section>
		<div class="js_fade-in  portfolio-images col-12 col-md-6" >		
			<img class="img-fluid lazy" src="static/images/works/mongo_01.jpg" alt="">		
		</div>
	</div>
	<!-- sticky Content end -->


	<div class="portfolio-full-block container-fluid">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-5 p-4 mb-5">
						<p class="text-center">
						</p>
					</div>
				</div>
				<div class="js_fade-in  row">
					<div class="col-6 col-md-3  mb-4">
						<img class="img-fluid lazy" src="static/images/works/mongo_02.jpg" alt="">
					</div>
					<div class="col-6 col-md-3  mb-4">
						<img class="img-fluid lazy" src="static/images/works/mongo_03.jpg" alt="">
					</div>
					<div class="col-6 col-md-3  mb-4">
						<img class="img-fluid lazy" src="static/images/works/mongo_04.jpg" alt="">
					</div>
					<div class="col-6 col-md-3  mb-4">
						<img class="img-fluid lazy" src="static/images/works/mongo_05.jpg" alt="">
					</div>
				</div>
			</div>

	</div>

</div>


<!-- more project section  -->
<section class="js_fade-in more-project">
		<div class="container">
			<div class="row">
				<div class="col-6">

				</div>
				<div class="col-6 text-right">
					<h5>
						< Next Project >
					</h5>

					<h4>
						<a href="portfolio_detail_quoh.html">QUOH!</a>
					</h4>
				</div>
			</div>
		</div>
</section>


<script>

</script>
{% endblock %}