{% extends "_base.html" %} {% block body %}


<div class="main-content-wrap">
	<div class="js_fade-in portfolio-main-header ml-sm-2">
		<div class="back-to-home">
			<a href="portfolio_list.html">Back <img class="arrow-back" src="static/images/svg/btn-arrow-left.svg" alt=""> </a>
		</div>
		<h1 class="title">QUOH!</h1>
	</div>
	<div class="js_fade-in  portfolio-main-img lazy" style="background-image: url('static/images/works/quoh_main.jpg');">
	</div>

	<!-- brief start -->
	<div class="portfolio-main-brief">
		<div class="container">

			<div class="js_fade-in row justify-content-md-center">

				<div class="col-12 col-md-4 mb-4">
					<div class="d-flex mb-2">
						<div class="col col-3">
							My Role
						</div>
						<div class="col ml-3">
							App UI Design, Branding Design,Mascot Design


						</div>
					</div>
					<div class="d-flex ">
						<div class="col col-3">
							Tools
						</div>
						<div class="col ml-3">
							Photoshop, Sketch, Illustrator
						</div>
					</div>
				</div>
				<div class="col-12  col-md-5">
					<p>
						QUOH is a platform that helps you sell second-hand devices. By installing its self-detecting app on your device, you can get a full report and estimated market price.

					</p>
					<p>
						My role in this project is to deliver branding visuals, define UX flow, and create mascot illustrations.
					</p>
				</div>
			</div>
		</div>
	</div>



	<div class="portfolio-full-block container-fluid">
		<div class="container">
			<div class="row justify-content-center">
				<div class="js_fade-in  col-12 col-md-5 mb-5">
					<p class="text-center">
						<h4>Challenges</h4>
						The key foucus of the branding development is to bring out a modern, friendly looking. In japanese cultural, a mascot is a common element to bring out the brand's characters. 
						Hence, each has its colorway and a different matching mascot design with three different schemes of branding in the initial phase.
						
					</p>
				</div>
			</div>
			<div class="row">
				<div class="js_fade-in  col-12">
					<img class="img-fluid lazy" src="static/images/works/quoh_01.png" alt="">
				</div>

			</div>
		</div>

	</div>
	<!-- sticky Content start -->
	<div class="sticky-wrap row justify-content-end">
		<section class="sticky-title portfolio-header col-12 col-md-5">
			<div class="portfolio-header-content row justify-content-end">
				<div class="js_fade-in  col-12 col-md-6 p-4">					

					<h4>Mascot</h4>

					<p >
						The mascot is a young baby with a mobile shape. And we created another old phone to represent the "wise" chracter.
					</p>
				</div>
			</div>

		</section>
		<div class="portfolio-images col-12 col-md-6">
			<img class="img-fluid lazy" src="static/images/works/quoh_04.jpg" alt="">
			<img class="img-fluid lazy" src="static/images/works/quoh_03.jpg" alt="">
		</div>
	</div>
	<!-- sticky Content end -->

	<!-- sticky Content start -->
	<div class="sticky-wrap row justify-content-end">
		<section class="sticky-title portfolio-header col-12 col-md-5">
			<div class="portfolio-header-content row justify-content-end">
				<div class="js_fade-in  col-12 col-md-6 p-4">


					<h4>Process and Solutions</h4>
					<p>
						We were able to proposed several different brand visuals and made colors variation for comparison. With the mobile baby mascot illustrations enhance the usability, , emotional appeal, and elegance of the interface. Customers are able quickly engaging with the app. 
					</p>
					<br>

					<p> As the app is predominantly for Japanese user. We undertand that the typeface needed to considered. Japanese web font options aren’t many there as English, and especially it usually has a large file size for kanji characters.  After my research, applying Japanese system web fonts and adobe fonts make the best of optimization and better rendering performance.
					</p>

				</div>
			</div>

		</section>
		<div class="portfolio-images col-12 col-md-6">
			<img class="img-fluid lazy" src="static/images/works/quoh_02.jpg" alt="">

		</div>
	</div>
	<!-- sticky Content end -->


	<div class="portfolio-full-block container-fluid">
		<div class="js_fade-in container">

			<div class="row">
				<div class="col-12">
					<img class="img-fluid lazy" src="static/images/works/quoh_05.jpg" alt="">
				</div>

			</div>
		</div>

	</div>

</div>


<!-- more project section  -->
<section class="js_fade-in more-project">
	<div class="container">
		<div class="row">
			<div class="col-6">

			</div>
			<div class="col-6 text-right">
				<h5>
					< Next Project>
				</h5>

				<h4>
					<a href="portfolio_detail_nagata.html">Nagata Lab</a>
				</h4>
			</div>
		</div>
	</div>
</section>


<script>

</script>
{% endblock %}