@charset "utf-8";

/* --------------------------------
About
-------------------------------- */
.info-wrap {
    position: relative;
    width: 80%;
    max-width: 1200px;
    font-family: serif;
    font-size: 26px;
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;
    margin-top: 30vh;
	@include media-breakpoint-down(sm) {
        margin-top: 5vh;
	}
    .info-image {
        img {
            max-width: 100%;
            z-index: 1;
        }
    }
    .info-text {
        z-index: 2;
        h2 {
            font-family: 'BeatriceDisplay-LightIt';
            font-size: 2.3rem;
            padding-right: 10%;
        }
        @include media-breakpoint-down(sm) {
            h2 {
                font-size: 1.6rem;
            }        }
    }
    .white-oval {
        position: absolute;
        left: -14%;
        top: 6%;
        z-index: -1;
        width: 104%;
    }
}
.info-trivia {
    margin: 20%;
    font-size: 1.1rem;
    h3 {
        font-family: 'BeatriceDisplay-LightIt';
        span {
            color :#a7a7a7;
            margin-left: 30px;
        }
    }
    @include media-breakpoint-down(sm) {

        margin: 20% 0;
    }
}