@charset "utf-8";
/* --------------------------------
Header and Menu
-------------------------------- */

header {
    padding: 40px;
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: $z-index-header;
    transition: $animation-cubic;
    display: flex;
    justify-content: flex-end;
    * &>* {
        transition: $animation-cubic;
    }
    &.scroll-hide {
        position: fixed;
        opacity: 0;
    }
    @include media-breakpoint-down(sm) {
        padding: 20px;
    }
}

.contact-wrap {
    display: flex;
    font-size: 1.6rem;
    line-height: 1;
    .contact-info {
        display: flex;
        flex-direction: column;
    }
    a {
        margin-right: 3rem;

    }
    @include media-breakpoint-down(sm) {    
        flex-direction: row;
        font-size: 16px;
    }
    &::last-child a{
        margin-right: 0;
    }
}